<launch>

<rosparam file="$(find nanny_description)/launch/controller.yaml" command="load"/>
<node args="Rev3_position_controller Rev4_position_controller Rev21_position_controller Rev22_position_controller joint_state_controller " name="controller_spawner" ns="nanny" output="screen" pkg="controller_manager" respawn="false" type="spawner"/>
<node name="robot_state_publisher" output="screen" pkg="robot_state_publisher" respawn="false" type="robot_state_publisher">
  <remap from="/joint_states" to="/nanny/joint_states"/>
</node>

</launch>
